.row
  .col-xs-8.col-xs-offset-2
    %ul.nav.nav-tabs
      %li{:role => "presentation"}
        =link_to t('my_contacts'), account_contacts_path;

      %li{:role => "presentation"}
        =link_to t('my_messages'), account_messages_path;

      %li.active{:role => "presentation"}
        =link_to t('my_profile'), account_users_path;
%br/
